<!DOCTYPE html>
<html>
    <head>
        <h1 style="color:red; font-family:Arial, Helvetica, sans-serif;"><strong>Disability Inclusive Development</strong></h1>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        body{
            width:1024px;
            margin:0 auto;
            font-family:Arial, Helvetica, sans-serif;
        }
    </style>
    </head>
    <title>
        VincenteFerrer
    </title>
    <body>
        <br>
        <br>
        <h5>People with disabilities (PWDs) are one of the most vulnerable groups in our society; socially excluded, they face various
            forms of discrimination. They are often isolated and lack awareness, which makes them unable to make us of existing
            resources, schemes and programmes by the Government.</h5>
        <br>
        <h5>
            The Rural Development Trust's (RDT) programmes with PWDs encompasses social, economic, physical and medical
rehabilitation to tackle societal prejudice and foster understanding. By mobilising the PWDs together, we aim to create a
network of support that increases their collective strength and enables the promotion of equal rights and opportunities.
        </h5>
        <br>
        <h5>The Disability Inclusive Development sector of RDT focuses on six areas under which the following projects and activities
            are implemented:</h5>
        <br>


        <h3 style="color:blueviolet;">1. Self-help groups and federations</h3>
        <br>
        <h5>The idea of facilitating these groups and federations is to mobilise them through awareness workshops and training in
            capacity-building.</h5>
            <ul style="list-style-type:disc;">
                <li><h5><strong>Viklangula sanghams </strong>are gender-mixed groups of varying ages and disabilities focusing on education, health, rights,
                    schemes and different aspects of rehabiliation.</h5>
                    </li>
                <li><h5><strong>Mandal samakhyas and district-level federations</strong> further the cause of inclusion through emphasis on resource
                    mobilisation, accessibility, protection of rights and privileges and tackling violence and discrimination.
                    </h5></li>
            </ul>

        <br>
        <h3 style="color: blueviolet;">2.Resource mobilisation</h3>
        <br>
        <h5>The aim is to encourage PWDs to be the main actors in their own development by making them aware of their legal rights
            and privileges and help them access government benefits</h5>
            <ul style="list-style-type: disc;">
                <li><h5><strong>Government recognition</strong> to obtain medical certificates, travel concessions, house sites, scholarships, pensions and
                    other allowances</h5></li>
                <li><h5><strong>Enrolling</strong> PWDs in the voter's list and for important official documents like Aadhar card.
                </h5></li>
                <li><h5><strong>Enrolling to get employent cards </strong>to get work under MGNREGA and other government schemes.</h5></li>
            </ul>
        


        <br>
        <h3 style="color: blueviolet;">3. Livelihoods</h3>
        <br>
        <h5>One of key factors to enable PWDs achieve self-reliance is to help them achieve economic independence. They are
            considered to be a liability, especially in poor families, because of their dependence on others which mainly results in their
            ill-treatment. Having an income source makes their self-confident and autonomous.
            </h5>
            <ul style="list-style-type: disc;">
                <li><h5>Under our Fair Trade partner, the Integrated Development Trust, we have established handicrafts centres where
                    women with disabilities are trained to be artisans in different crafts and trades.</h5></li>
                <li><h5><strong>Facilitating mini-banks in the sanghams </strong>which PWDs can access for loans to venture into a business or any incomegenerating activity.
                </h5></li>
                <li><h5><strong>Training workshops for men </strong>in trades like plumbing, carpentry, masonry and electrician works.</h5></li>
                <li><h5>Collaboration with NGOs like Youth4Jobs, APD to <strong>train young graduates</strong> in soft skills to enhance their employability.
                </h5></li>
            </ul>
        

        <br>
        <h3 style="color: blueviolet;">4. Special and inclusive education</h3>
        <br>
        <h5>Empowerment of PWDs is truly possible through education. Education for children with disabilities is offered through special
            education and also full inclusion in mainstream classes.</h5>
            <ul style="list-style-type: disc;">
                <li><h5><strong>Inclusive education:</strong> Five primary schools and one secondary school for children with varying disabilities along with
                    children without disabilities and also providing assistance to children in government schools.</h5></li>
                <li><h5>We run a<strong> high school exclusively for speech and hearing impaired children.</strong></h5></li>
                <li><h5><strong>Providing scholarships and assistance </strong> to those pursuing higher educations and professional or technical courses</h5></li>
                <li><h5>Printing books and study materials in Braille in English, Telugu, Hindi and also producing manuals in sign-language.</h5></li>
            </ul>



        <br>
        <h3 style="color: blueviolet;">5. Residential rehabilitation centers</h3>
        <br>
        <h5>Assistance is provided to improve their daily living skills in order to make them self-sufficient, so they can achieve partial or
            complete independence.</h5>
        <ul style="list-style-type: disc;">
            <li><h5>We run four residential rehabilitation centers for children with <strong>intellectual disabilities</strong> and three for those with <strong>cerebral
                palsy</strong> that focuses on improving their motor skills, comprehension and quality of daily life.
                </h5></li>
            <li><h5>Children with less severe disabilities are also trained in everyday chores and other skills like farming, animal rearing.</h5></li>
        </ul>


        <br>
        <h3 style="color: blueviolet;">6. Medical rehabilitation</h3>
        <br>
        <h5>Lack of awareness, financial constraints and unavailability of medical professionals are factors that hinder many from
            accessing timely medical interventions. We aim to reduce this gap and also improve the quality of life for all</h5>
        <ul style="list-style-type: disc;">
            <li><h5><strong>Early Intervention</strong> at the village and hospital level for children below three years aims to reduce the risk of developing a
                disability or diminish the severity of an existing one</h5></li>
            <li><h5><strong>Orthopaedic workshops</strong> focus on improving mobility among children and adults with physical disabilities by fabricating
                and supplying aids and devices and providing supportive services like physiotherapy</h5></li>
            <li><h5><strong>Corrective surgeries.</strong></h5></li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
    </body>
</html>